Django>=4.2,<5.0
celery==5.3.6
django-celery-beat==2.6.0
redis>=5.0.1
requests==2.31.0
beautifulsoup4==4.12.3
requests-html==0.10.0
lxml-html-clean
lxml>=5.1.0
python-dotenv>=1.0.1
openai>=1.12.0
gunicorn
PyJWT