{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    {% if auctions %}
        <ul>
            {% for auction in auctions %}
                <li>
                    <a href="{% url 'auction_detail' auction.id %}">{{ auction.title }}</a> - Current Bid: ${{ auction.current_bid }} - Ends: {{ auction.end_time }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No active auctions at the moment.</p>
    {% endif %}
{% endblock %}